.signup-card {
    /* position: absolute; */
    /* top: 56%; */
    /* left: 55%; */
    /* transform: translate(-50%, -50%); */
    /* padding: 1rem; */
    max-width: 400px;
    margin: 2em auto;
    /* padding: 0rem; */
    border-radius: 15px;
    /* overflow: hidden; */
    background: #f1f1f1;
    /* box-shadow: 0px 0px 5px rgba(55, 175, 75, .5); */
    text-align: center;
}

.signup-card h2 {
    /* margin-top: 0rem; */
    background: #37AF4B;
    padding: 15px 0;
    border-radius: 15px 15px 0 0;
    /* margin: 0rem; */
    /* margin-bottom: 1.5rem; */
    text-align: center;
    /* font-size: 28px; */
}

.signup-form {
    width: 75%;
}
.signup-form .input {
    width: 100%;
    margin: 1rem 0;
}

/* .input {
    width: auto;
} */

.signup-card .btn {
    /* width: fit-content; */
    /* margin: 0rem 2.25rem; */
    /* margin-bottom: 1rem; */
    background: #37AF4B;
    color: white;
    /* margin-left: 11.3rem; */
    width: 100%;
    margin: 0.5em 0 1.1em 0;
}
.signup {
    font-size: 13px;
    font-weight: bold;
    color: #37AF4B;
}
.signup a {
    color: #37AF4B;
}

.input .icons {
    color: #016236;
    /* background: #fff; */
}

/* .btn:hover {
    background: #016236;
} */

@media only screen and (max-width: 400px) {
    .signup-card {
        width: 90%;
        margin-top: 3em;
    }
    .signup-card h2 {
        font-size: 20px;
    }
}