.meeting-container {
  color: white;
  height: 100vh;
}
.meeting-main {
  display: flex;
}
.meeting-body {
  flex-grow: 1;
  height: 100vh;
}

#video-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

/* https://codepen.io/villa7/pen/yOMZoB */

.chatbox {
  min-width: 350px;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.chatname {
  color: #37af4b;
  padding: 8px 15px;
  border-bottom: 2px solid #37AF4B;
  margin: 0;
  font-size: 30px;
  margin-bottom: 10px;
  position: fixed;
  background-color: white;
  z-index: 2;
  width: 100%;
}

.bottom-nav {
  /* bottom: 0; */
  height: 70px;
  display: flex;
  align-items: center;
  /* width: calc(100vw - 350px); */
  justify-content: space-evenly;
}

.video-area {
  background-color: rgb(39, 37, 37);
  height: calc(100vh - 90px);
  padding: 10px;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #4c4c6a;
  border-radius: 2px;
}
/* #chatbox {
  width: 375px;
  height: 660px;
  max-height: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}*/

.chat-window {
  flex: auto;
  max-height: calc(100% - 60px);
  /* background: #ffffff; */
  position: relative;
  top: 80px;
}
#chatbox {
  flex-grow: 1;
  overflow-y: scroll;
}
#participant {
  flex-grow: 1;
  display: none;
}
#participant-window{
  /* max-height: calc(100% - 60px); */
  background: #ffffff;
  overflow: auto;
}
#partname{
  color: #37af4b;
  padding: 8px 15px;
  border-bottom: 2px solid #37AF4B;
  margin: 0;
  font-size: 30px;
  margin-bottom: 10px ;
}
.chatname.h2{
  margin-left: 2rem;
}
#chat-input {
  /* height: 64px; */
  background-color:#37AF4B;
  /*background: #40434e;  */
  /* position: fixed; */
  /* bottom: 0; */
  /* width: 100%; */
  display: flex;
  align-items: center;
  padding: 2px;
  /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28); */
}
#chat-input input {
  /* height: 59px; */
  /* line-height: 60px; */
  outline: none;
  border: none;
  /* width: calc(100% - 60px); */
  color: rgb(19, 18, 18);
  text-indent: 10px;
  font-size: 12pt;
  padding: 5px;
  background-color: white;
  border-radius: 2px;
  height: 30px;
  flex-grow: 1;
  /*background: #40434e;  */
}
.msg-container {
  /* position: relative; */
  display: inline-block;
  width: 100%;
  margin: 4px 0;
  padding: 0;
}
.msg-box {
  display: flex;
  background: #37AF4B;
  padding: 7px;
  border-radius: 6px;
  max-width: 80%;
  /* width: auto; */
  margin-left: 10px;
  float: left;
}
.flr {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  width: calc(100% - 50px);
}
.messages {
  flex: 1 0 auto;
}
.msg {
  /* display: inline-block; */
  font-size: 15px;
  /* line-height: 13pt; */
  color: white;
 /* color: rgba(255, 255, 255, 0.7); */
  margin: 0 5px 0 0;
}
/* .msg:first-of-type {
  margin-top: 8px;
} */
/* .msg-self .msg-box {
  border-radius: 6px 0 0 6px;
  background: #34ff3e;
  float: right;
} */
/* .msg-self .msg {
  text-align: right;
} */

#users {
  color: black;
  list-style-type: none;
  padding: 0;
}
#users li {
  padding: 10px 20px;
}
#send {
  padding-left: 1rem;
  color: white;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.fa-phone:hover{
  background-color: rgb(212, 16, 16);
}
.fa-microphone:hover{
  background-color: #166123 !important;
}
.fa-video:hover{
  background-color: #166123;
}
.MuiTab-textColorPrimary.Mui-selected {
  color: #37af4b !important;
}
.PrivateTabIndicator-colorPrimary-3 {
  background-color: var(--green) !important;
  width: auto !important;
}

.media-icon {
  padding: 1rem;
  font-size: 1.25rem;
  color: white;
  background: #37af4b;
  font-weight: normal;
  cursor: pointer;
  z-index: 2;
  text-align: center;
}

.media-icon.one,
.media-icon.two,
.media-icon.six,
.media-icon.seven {
  width: 22px;
  height: 22px;
  margin: 0.25rem;
  border-radius: 50%;
}
.media-icon.three {
  min-width: 70px;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  box-sizing: border-box;
}
.media-icon.five {
  min-width: 70px;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  box-sizing: border-box;
}



#video-grid .video-wrapper {
  position: relative;
  -webkit-transition: all 0.24s linear;
  transition: all 0.24s linear;
  border-radius: 0.25rem;
  overflow: hidden;
}

#video-grid .video-wrapper .elements-wrapper {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color:white;
  -webkit-transition: all 0.24s linear;
  transition: all 0.24s linear;
}

#video-grid .video-wrapper .elements-wrapper .video-element {
  outline: none;
  border: none;
  z-index: 1;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px;
  background-color: rgba(27,33,39,0.8);
  margin: 0.5rem;
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
  -webkit-transition: all 0.24s linear;
  transition: all 0.24s linear;
}

#video-grid .video-wrapper .elements-wrapper .video-element ion-icon {
  pointer-events: none;
  -webkit-transition: all 0.24s linear;
  transition: all 0.24s linear;
  font-size: 1.3rem;
}

#video-grid .video-wrapper .elements-wrapper .video-element:hover {
  border: none;
  outline: none;
}

#video-grid .video-wrapper .elements-wrapper .video-off-indicator {
  --indicatorSize: 80px;
  width: var(--indicatorSize);
  height: var(--indicatorSize);
  background-color: rgba(var(--color3), 1);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-transition: all 0.24s all;
  transition: all 0.24s all;
  opacity: 0;
  pointer-events: none;
}

#video-grid .video-wrapper .elements-wrapper .recording-indicator {
  margin: 14px;
  --size: 20px;
  position: absolute;
  top: 0;
  left: 38px;
  width: var(--size);
  height: var(--size);
  background-color: #ffffff8f;
  border: 2px solid white;
  border-radius: 50%;
  -webkit-animation: blinker 2s linear infinite;
          animation: blinker 2s linear infinite;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#video-grid .video-wrapper .elements-wrapper .recording-indicator div {
  --offset: 10px;
  height: calc(var(--size) - var(--offset));
  width: calc(var(--size) - var(--offset));
  border-radius: 50%;
  background-color: #fe634f;
}

#video-grid .video-wrapper .elements-wrapper .effect-container {
  margin: 0.5rem;
  width: 32.8px;
  height: 32.8px;
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#video-grid .video-wrapper .elements-wrapper .effect-container .o1,
#video-grid .video-wrapper .elements-wrapper .effect-container .o2 {
  position: relative;
  height: 19%;
  width: 6px;
  background: rgba(var(--color3), 1);
  margin: 2px;
  border-radius: 200px;
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
}
#video-grid .video-wrapper video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.24s linear;
  transition: all 0.24s linear;
}