.main {
  margin: 0 0 65px 0;
}

html {
  overflow: hidden;
}

.video-chat-area {
  width: 75%;
  height: 91vh;
  overflow: scroll;
  overflow-x: hidden;
  background-color: rgb(39, 37, 37);
}

#video-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

/* https://codepen.io/villa7/pen/yOMZoB */

.body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #1c1e22;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: absolute !important;
  right: 0%;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #4c4c6a;
  border-radius: 2px;
}
.chatbox {
  width: 375px;
  height: 660px;
  /* max-height: 400px; */
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.chat-window {
  flex: auto;

  max-height: calc(100% - 60px);
  background: #ffffff;
  overflow: auto;
}
.chatname{
  border-bottom: 2px solid #37AF4B;
  height: 44px;
  color: #37AF4B;
 
}
.chatname.h2{
  margin-left: 2rem;
}
.chat-input {
  flex: 0 0 auto;
  height: 64px;
background-color:#37AF4B;
  /*background: #40434e;  */
  border-top: 2px solid #37AF4B;
  
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
.chat-input input {
  height: 59px;
  line-height: 60px;
  outline: 0 none;
  border: none;
  width: calc(100% - 60px);
  color: rgb(19, 18, 18);
  text-indent: 10px;
  font-size: 12pt;
  padding: 0;
background-color: white;
  /*background: #40434e;  */
}
.msg-container {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 0;
}
.msg-box {
  display: flex;
  background: #37AF4B;
 /* background: #5b5e6c; */
  padding: 10px 10px 0 10px;
  border-radius: 0 6px 6px 0;
  max-width: 80%;
  width: auto;
  float: left;
}
.flr {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  width: calc(100% - 50px);
}
.messages {
  flex: 1 0 auto;
}
.msg {
  display: inline-block;
  font-size: 11pt;
  line-height: 13pt;
color: white;
 /* color: rgba(255, 255, 255, 0.7); */
  margin: 0 0 4px 0;
}
.msg:first-of-type {
  margin-top: 8px;
}
.msg-self .msg-box {
  border-radius: 6px 0 0 6px;
  background: #34ff3e;
  float: right;
}
.msg-self .msg {
  text-align: right;
}

#send {
  padding-left: 1.2rem;
  color: white;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 65px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MuiTab-textColorPrimary.Mui-selected {
  color: #37af4b !important;
}
.PrivateTabIndicator-colorPrimary-3 {
  background-color: var(--green) !important;
  width: auto !important;
}

.media-icon {
  padding: 1rem;
  font-size: 1.25rem;
  color: white;
  background: #37af4b;
  font-weight: normal;
  cursor: pointer;
  z-index: 2;
}

.media-icon.one,
.media-icon.two,
.media-icon.six,
.media-icon.seven {
  width: 20px;
  height: 20px;
  margin: 0.25rem;
  border-radius: 50%;
}
.media-icon.three {
  padding: 1rem;
  padding-left: 2rem;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}
.media-icon.five {
  padding: 1rem;
  padding-right: 2rem;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}
