.home {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    text-align: center;
    width: 300px;
    margin: 120px auto;
}
.home h2 {
    color: white;
}
.lines {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.line-1 {
    width: 110px;
    height: 1px;
    background: white;
}
.home-input {
    padding: 7px 14px;
    margin-right: 5px;
    flex-grow: 1;
    border-radius: 5px;
    height: 25px;
}
.entermeeting {
    display: flex;
    justify-content: center;
}
/* input {
    flex-grow: 1;
    padding: 7px 14px;
    margin-right: 1rem;
    box-sizing: border-box; 
  } */
.input-btn {
    background: #37AF4B!important;
    color: white!important;
    cursor: pointer;
    border-radius: 5%!important; 
}

.input-icons {
    font-size: 1rem;
}
.mt-2{
    margin-top: 1rem !important;
    padding-top: 2rem;
    width: 100%;
}
.btn-meet {
    display: flex;
    align-items: center;
    background: #37AF4B!important;
    color: white!important;
    font-weight: bold!important;
}

.btn-icon {
    font-size: 1rem;
    font-weight: bold!important;
 
}

.btn {
    color: #fff!important;
    background: #37AF4B!important;
}

@media screen and (max-width: 400px) {
    .home {
        width: 90%;
        margin-top: 150px;
    }
    .home h2 {
        font-size: 20px;
    }
    .home-input {
        padding: 7px 14px;
        margin-right: 5px;
        height: 25px;
    }
}