.main-body {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 1.3em auto;
    margin-bottom: 0em;
}
.desc {
    width: 50%;
}
.desc a {
    color: #37AF4B;
}
.desc h1, p {
    color: white;
    margin-right: 15px;
}
.card {
    max-width: 350px;
    margin-left: auto;
    border-radius: 15px;
    background: #f1f1f1;
    text-align: center;
}
.signin-form {
    width: 75%;
}
.signin-form .input {
    width: 100%;
    margin: 10px 0;
}
.card h2 {
    margin-top: 0;
    background: #37AF4B;
    padding: 15px 0;
    border-radius: 15px 15px 0 0;
    text-align: center;
}
.card .btn {
    width: 82%;
    margin: 0.5em 0 0.5em 0;
    background: #37AF4B;
    color: white;
}
.signin-signup {
    font-size: 13px;
    font-weight: bold;
    color: #37AF4B;
    margin-top: -10px;
}
.signin-signup a {
    color: #37AF4B;
}
.input .icons {
    color: #016236;
}

.signin-forgotpassword {
    margin: 0;
    font-size: 14px;
}
.signin-forgotpassword a{
    text-decoration: none;
    color: #37AF4B
}

@media only screen and (max-width: 400px) {
    .main-body {
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
    }
    .desc {
        margin-top: 30px;
        width: 90%;
    }
    .desc h1 {
        font-size: 16px;
        text-align: center;
    }
    .desc p {
        text-align: center;
        font-size: 13px;
    }
    .card {
        margin: .5rem auto;
        width: 90%;
    }
    .card h2 {
        font-size: 20px;
    }
}

@media (min-width: 400px) and (max-width: 730px) {
    .main-body {
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
    }
    .desc {
        margin-top: 30px;
        width: 90%;
    }
    .desc h1 {
        font-size: 20px;
        text-align: center;
    }
    .desc p {
        text-align: center;
        font-size: 16px;
    }
    .card {
        margin: .5rem auto;
        width: 90%;
    }
    .card h2 {
        font-size: 20px;
    }
}