.forgotpassword-container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  width: 400px;
  min-height: 300px;
  box-sizing: border-box;
  padding: 40px;
  background-color: #f1f1f1;
}
.forgotpassword-container p {
  color: black;
  margin: 10px 0;
}
.forgotpassword-header {
  text-align: left;
  font-size: 1.6em;
  font-weight: 600;
  color: #37AF4B;
} 
.forgotpassword-container .input {
  margin: 60px 0 40px 0;
}
#forgotButton {
  margin: 10px auto;
}
.backtosignin {
  align-items: center;
  text-align: center;
  margin-top: 10px;
}
.backtosignin a {
  text-decoration: none;
  color: #37AF4B
}

@media screen and (max-width: 400px) {
  .forgotpassword-container {
    width: 90%;
    padding: 30px;
  }
  .forgotpassword-header {
    font-size: 22px;
  }
  .forgotpassword-container p {
    font-size: 14px;
  }
  .forgotpassword-container .input {
    font-size: 14px;
  }
  .backtosignin {
    font-size: 14px;
  }
}

@media (min-width: 400px) and (max-width: 730px) {
  .forgotpassword-container {
    width: 380px;
    padding: 30px;
  }
  .forgotpassword-header {
    font-size: 22px;
  }
  .forgotpassword-container p {
    font-size: 14px;
  }
  .forgotpassword-container .input {
    font-size: 14px;
  }
  .backtosignin {
    font-size: 14px;
  }
}