.forgotpassword-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  width: 500px;
  min-height: 400px;
  box-sizing: border-box;
  padding: 40px 40px;
  background-color: white;
}
.forgotpassword-container p {
  color: black;
  margin: 10px 0;
}
.forgotpassword-header {
  text-align: left;
  font-size: 1.8em;
  font-weight: 600;
  color: #37AF4B;
} 
.forgotpassword-container .input {
  margin: 60px 0 40px 0;
}
#forgotButton {
  margin: 10px auto;
}
.backtosignin {
  align-items: center;
  text-align: center;
  margin-top: 10px;
}
.backtosignin a {
  text-decoration: none;
  color: #37AF4B
}